# Исключаем кэш Gradle
.gradle/

# Исключаем временные файлы сборки
/build/

# Исключаем конфигурационные файлы среды разработки
.idea/
*.iml
local.properties

# Исключаем файлы кэша и виртуальных машин
*.lock
*.hprof

# Исключаем файлы подписи и сервисов
/google-services.json
/firebase/
